<%= form_with(model: @listed_item, local: true) do |form| %>
  <%# Display any validation errors above the form fields %>
  <% if @listed_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listed_item.errors.count, "error") %> prohibited this listed item from being saved:</h2>
      <ul>
        <% @listed_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :starting_price %>
    <%= form.number_field :starting_price,
                          placeholder: 'Set the auction starting price (minimum £5)',
                          step: '0.01',
                          min: '5.00',
                          required: true %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price,
                          placeholder: 'Set the current price',
                          step: '0.01',
                          min: '0.00' %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(['Jeans', 'Shorts', 'Blouse', 'T-shirt', 'Dress', 'Skirt', 'Sweater', 'Jacket', 'Accessories', 'Shoes'], @listed_item.category), prompt: 'Select a category' %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
