<%= form_with(model: @listed_item, local: true) do |form| %>
  <% if @listed_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listed_item.errors.count, "error") %> prohibited this item from being saved:</h2> <!-- Corrected @listed_item.errors.count -->
      <ul>
        <% @listed_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
